<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <title>Blog django</title>
</head>
<body>

<div>
    <h1> <a href="/">Blog django</a></h1>
</div>

<div>
    <p>Pùblicado: 14.06.2014</p>
    <h2><a href="">Meu primeiro Post</a></h2>
    <p>Este é o conteudo do meu post</p>
</div>

<div>
    <p>Pùblicado: 14.06.2014</p>
    <h2><a href="">Meu segundo Post</a></h2>
    <p>Este é o conteudo do meu post</p>
</div>

<h1>Safadão!!!!!!!!!!</h1>
<img src="https://s3.portalt5.com.br/imagens/wesley-safadao.jpg?mtime=20180730153643">

</body>
</html>